.hide-scroll {
  overflow: hidden;
}

/* calc-publication - Start */
.calc-publication {
  padding: 0;
}

.calc-publication p {
  margin-bottom: 24px;
}

.calc-publication .large {
  margin-bottom: 30px;

  color: #393939;

  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
}

.calc-publication__button {
  display: table;

  margin-top: 30px;
  padding: 26px 50px 34px;

  transition: background 0.2s ease-in-out;

  color: #fff;
  border-radius: 100px;
  background: #ef7622;

  font-size: 26px;
  line-height: 30px;
}

.calc-publication__button:hover {
  background: #f2914e;
}

.calc-publication__banner {
  margin-bottom: 40px;
  padding: 50px;
  padding-right: 180px;

  color: #fff;
  border-radius: 9px;
  background-position: 50% 50%;
  background-size: cover;

  font-size: 14px;
  line-height: 22px;
}

.calc-publication__banner h2 {
  display: block;

  margin-bottom: 15px;

  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
}

.calc-publication__banner h2 span {
  color: #ef7622;
}

.calc-publication__list {
  display: flex;

  margin-bottom: 40px;
}

.calc-publication__item {
  display: flex;
  align-items: center;
  flex: 1;

  margin-right: 13px;
  padding: 20px 10px 30px 20px;

  color: #fff;
  border-radius: 9px;
  background: #0065a8;

  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

.calc-publication__item:nth-child(2) {
  opacity: 0.7;
}

.calc-publication__item:nth-child(3) {
  margin-right: 0;

  opacity: 0.5;
}

.calc-publication-item-title {
  margin-right: 15px;

  opacity: 0.5;

  font-size: 82px;
  line-height: 1;
}

.calc-publication-item-title span {
  display: block;

  white-space: nowrap;

  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .calc-publication__list {
    display: block;
  }

  .calc-publication__item {
    margin-right: 0;
    margin-bottom: 13px;
  }

  .calc-publication__banner {
    padding: 30px 20px;
  }

  .calc-publication__banner h2 {
    font-size: 30px;
  }

  .calc-publication__button {
    padding: 18px 25px 22px;

    font-size: 18px;
    line-height: 20px;
  }
}
/* calc-publication - End */

/* calc-popup - Start */
.calc-popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;

  transition: opacity 0.5s ease;
  pointer-events: none;

  opacity: 0;
}

.calc-popup.active {
  pointer-events: all;

  opacity: 1;
}

.calc-popup__background {
  position: fixed;
  z-index: 1010;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.6);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.calc-popup__container {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: 100vh;
  padding: 100px 15px;
}

.calc-popup__body {
  position: relative;
  z-index: 1020;

  width: 100%;
  max-width: 960px;
  padding: 20px 40px 25px;

  border-radius: 8px;
  background: #fff;
}

.calc-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-right: -20px;
  margin-bottom: 20px;
}

.calc-popup__logo {
  width: 114px;
}

.calc-popup__close {
  width: 28px;
  height: 28px;

  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMjggMjgiIHdpZHRoPSIyOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiNlZjc2MjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ij48cGF0aCBkPSJtMi44Mjg0MyAzIDIyLjE3MTU3IDIyLjE3MTYiLz48cGF0aCBkPSJtMjUgMi44Mjg0My0yMi4xNzE1NyAyMi4xNzE1NyIvPjwvZz48L3N2Zz4=");
}

.calc-popup__title {
  display: block;

  margin-bottom: 6px;

  color: #393939;

  font-size: 28px;
  font-weight: bold;
  line-height: 1.4;
}

.calc-popup__subtitle {
  display: block;

  margin-bottom: 24px;

  color: #0065a8;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

.calc-popup__result-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0;
}

.calc-popup__result-content {
  flex: 1;

  max-width: 400px;
}

.calc-popup__result-circle {
  display: block;

  min-width: 160px;
  height: 160px;
  margin-right: 25px;

  text-align: center;

  color: #fff;
  border-radius: 50%;
  background: #0065a8;

  font-size: 100px;
  font-weight: bold;
  line-height: 160px;
}

.calc-popup__result-content {
  display: flex;
  align-items: center;

  color: #393939;

  font-size: 25px;
  line-height: 1.2;
}

.calc-popup__result-buttons {
  padding-left: 20px;
}

.calc-popup__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 345px;
  height: 80px;
  margin-bottom: 17px;
  padding: 7px 14px;

  transition: 0.2s ease-in-out;
  text-align: center;

  color: #fff;
  border-radius: 100px;
  background: #ef7622;

  font-size: 26px;
  line-height: 1;
}

.calc-popup__button:last-child {
  margin-bottom: 0;
}

.calc-popup__button:hover {
  background: #f2914e;
}

.calc-popup__step {
  display: none;
}

.calc-popup__step.active {
  display: block;
}

.calc-popup__step-label {
  display: block;

  margin: 24px 0;

  color: #ef7622;

  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.calc-popup__span {
  display: block;

  margin-bottom: 13px;

  color: #393939;

  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.calc-popup__inputs {
  display: flex;
  justify-content: space-between;

  max-width: 320px;
}

.calc-popup__input {
  flex: 1;

  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-right: 10px;

  text-align: center;

  border: 1px solid #ef7622;
  border-radius: 26px;

  font-size: 16px;
  line-height: 25px;
}

.calc-popup__input:last-child {
  margin-right: 0;
}

.calc-popup__input::placeholder {
  transition: opacity 0.2s ease-in-out;

  color: rgba(57, 57, 57, 0.4);
}

.calc-popup__input:focus::placeholder {
  opacity: 0;
}

.calc-popup__input.calc-popup__input--error {
  border-color: red;
}

.calc-popup__input.calc-popup__input--error::placeholder {
  color: red;
}

.calc-popup__step-footer {
  display: block;

  color: #868686;

  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
}

.calc-popup__arrows {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 0;
}

.calc-popup__arrow {
  width: 76px;
  height: 76px;

  transition: background 0.2s ease-in-out;

  border-radius: 50%;
  background-color: #ef7622;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiIHdpZHRoPSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTguNzE2NSA4LjY4MjkxaC0xNC4zMzY1OGw2LjI2MzQ4LTYuNDI3MzljLjUwMDUtLjUxMzY3LjUwMDUtMS4zNTY2MDYgMC0xLjg3MDI3My0uNTAwNi0uNTEzNjY0LTEuMzA5MjEtLjUxMzY2NC0xLjgwOTc3IDBsLTguNDU4MjA4IDguNjc5NjEzYy0uNTAwNTYyLjUxMzY3LS41MDA1NjIgMS4zNDM0NCAwIDEuODU3MTRsOC40NDUzNjggOC42OTI4Yy41MDA1Ni41MTM2IDEuMzA5MjEuNTEzNiAxLjgwOTcxIDAgLjUwMDYtLjUxMzcuNTAwNi0xLjM0MzUgMC0xLjg1NzFsLTYuMjUwNTgtNi40NDA2aDE0LjMzNjU4Yy43MDU5IDAgMS4yODM1LS41OTI3IDEuMjgzNS0xLjMxNzFzLS41Nzc2LTEuMzE3MDktMS4yODM1LTEuMzE3MDl6IiBmaWxsPSIjZmFmYmZjIi8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.calc-popup__arrow.calc-popup__arrow--next {
  transform: rotate(180deg);
}

.calc-popup__arrow:hover {
  background-color: #f2914e;
}

.calc-popup__arrow.disabled {
  pointer-events: none;

  background-color: #d1d1d1;
}

.calc-popup__dots {
  display: flex;

  margin: 0 25px;
}

.calc-popup__dots i {
  display: block;

  width: 17px;
  height: 17px;
  margin: 5px;

  border-radius: 50%;
  background: #c4c4c4;
}

.calc-popup__dots .active {
  background: #ef7622;
}

.calc-popup__step-value {
  display: flex;
  align-items: center;

  margin-top: 55px;

  color: #393939;

  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.calc-popup__step-value-box {
  display: block;

  box-sizing: border-box;
  width: 60px;
  margin-left: 14px;

  text-align: center;

  border: 1px solid #ef7622;
  border-radius: 100px;

  line-height: 32px;
}

.calc-popup__checkbox-wrap {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 20px;
}

.calc-popup__checkbox-title {
  display: block;

  width: 100%;

  color: #393939;

  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.calc-popup__checkbox-title.calc-popup__checkbox-title--error {
  color: red;
}

.calc-popup__checkbox-descr {
  display: block;

  width: 100%;

  color: rgba(57, 57, 57, 0.4);

  font-size: 16px;
  line-height: 22px;
}

.calc-popup__checkbox {
  display: flex;
  align-items: center;

  margin-top: 10px;
  margin-right: 70px;
}

.calc-popup__checkbox:last-child {
  margin-right: 0;
}

.calc-popup__checkbox input {
  display: none;
}

.calc-popup__checkbox i {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin-right: 14px;

  cursor: pointer;
  transition: border-color 0.2s ease-in-out;

  border: 2px solid #d1d1d1;
  border-radius: 50%;
}

.calc-popup__checkbox i::after {
  position: absolute;
  top: 3px;
  left: 3px;

  display: block;

  width: 12px;
  height: 12px;

  content: "";
  transition: opacity 0.2s ease-in-out;

  opacity: 0;
  border-radius: 50%;
  background: #0065a8;
}

.calc-popup__checkbox input:checked + i {
  border-color: #0065a8;
}

.calc-popup__checkbox input:checked + i::after {
  opacity: 1;
}

.calc-popup__checkbox span {
  flex: 1;

  color: #393939;

  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 992px) {
  .calc-popup__header {
    margin-right: 0;
  }

  .calc-popup__container {
    padding: 40px 15px;
  }

  .calc-popup__body {
    padding: 20px;
  }

  .calc-popup__button {
    width: 220px;
    height: 60px;

    font-size: 16px;
    line-height: 1.2;
  }

  .calc-popup__result-content {
    max-width: 300px;

    font-size: 18px;
  }

  .calc-popup__result-circle {
    min-width: 100px;
    height: 100px;
    margin-right: 15px;

    font-size: 50px;
    line-height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .calc-popup__checkbox {
    margin-right: 30px;
  }

  .calc-popup__step-value {
    margin-top: 35px;

    font-size: 14px;
  }

  .calc-popup__arrow {
    width: 60px;
    height: 60px;
  }

  .calc-popup__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .calc-popup__subtitle {
    font-size: 18px;
    line-height: 1.2;
  }

  .calc-popup__step-label {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 576px) {
  .calc-popup__result-row {
    display: block;

    padding: 20px 0;
  }

  .calc-popup__result-buttons {
    padding-left: 0;
  }

  .calc-popup__result-content {
    margin-bottom: 30px;

    font-size: 16px;
  }

  .calc-popup__checkbox {
    width: 100%;
    margin-right: 0;
  }
}
/* calc-popup - End */
