.wrapper.red {
  --main-color: #b40b47;
  --second-color: #009cb3;
}

.wrapper.aqua {
  --main-color: #02a0af;
  --second-color: #da5f13;
}

.wrapper.blue {
  --main-color: #0065a8;
  --second-color: #ef7622;
}

.wrapper.violet {
  --main-color: #5c1d67;
  --second-color: #f89728;
}

.wrapper.blue2 {
  --main-color: #015cac;
  --second-color: #fbb033;
}

.hidden {
  display: none;
}

.hide-scroll {
  overflow: hidden;
}

/* map - Start */
.map__container {
  width: 100%;
  height: 350px;
}

.map__wrap {
  margin-bottom: 24px;
  padding: 24px 0;

  background: rgba(25, 160, 167, 0.1);
}

.map__selects {
  display: flex;

  width: 100%;
  margin-bottom: 24px;
}

.map__selects .select__wrap {
  flex: 1;
}

.map__selects .select__wrap:first-child {
  max-width: 240px;
  margin-right: 32px;
}

.map__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -7px;
}

.map__item {
  overflow: hidden;
  flex-basis: calc(100% / 3 - 14px);

  margin: 7px;

  text-align: center;

  border: 2px solid #019cb3;
  border-radius: 12px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
}

.map__item-title {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 80px;
  padding: 10px 30px;

  color: #fff;
  background: #019cb3;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.map__item-content {
  padding: 12px 12px 24px;

  font-size: 14px;
  line-height: 1.4;
}

.map__item-link {
  display: block;

  margin-top: 24px;

  text-decoration: underline;

  color: #b40b47;

  font-weight: bold;
}

.map__placemark {
  padding: 6px 12px;
}

.map__placemark-title {
  display: block;

  margin-bottom: 2px;

  color: #019cb3;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
}

.map__placemark-adress {
  display: block;

  color: #393939;

  font-size: 12px;
  line-height: 1.4;
}

@media screen and (max-width: 900px) {
  .map__list {
    display: block;

    margin: 0;
  }

  .map__item {
    margin: 0;
    margin-bottom: 14px;
  }

  .map__container {
    height: 250px;
  }

  .map__selects {
    display: block;

    margin-bottom: 24px;
  }

  .map__selects .select__wrap:first-child {
    max-width: 100%;
    margin-right: 0;
  }
}
/* map - End */

/* calc-publication - Start */
.calc-publication {
  padding: 0;
}

.calc-publication p {
  margin-bottom: 24px;
}

.calc-publication .large {
  margin-bottom: 30px;

  color: #393939;

  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
}

.calc-publication__button {
  display: table;

  margin-top: 30px;
  padding: 26px 50px 34px;

  transition: background 0.2s ease-in-out;

  color: #fff;
  border-radius: 100px;
  background: #ef7622;

  font-size: 26px;
  line-height: 30px;
}

.calc-publication__button:hover {
  background: #f2914e;
}

.calc-publication__list {
  display: flex;

  margin-bottom: 40px;
}

.calc-publication__item {
  display: flex;
  align-items: center;
  flex: 1;

  margin-right: 13px;
  padding: 20px 10px 30px 20px;

  color: #fff;
  border-radius: 9px;
  background: #0065a8;

  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

.calc-publication__item:nth-child(2) {
  opacity: 0.7;
}

.calc-publication__item:nth-child(3) {
  margin-right: 0;

  opacity: 0.5;
}

.calc-publication__item-title {
  margin-right: 15px;

  opacity: 0.5;

  font-size: 82px;
  line-height: 1;
}

.calc-publication__item-title span {
  display: block;

  white-space: nowrap;

  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .calc-publication__list {
    display: block;
  }

  .calc-publication__item {
    margin-right: 0;
    margin-bottom: 13px;
  }

  .calc-publication__button {
    padding: 18px 25px 22px;

    font-size: 18px;
    line-height: 20px;
  }
}
/* calc-publication - End */

/* calc-popup - Start */
.calc-popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;

  transition: opacity 0.5s ease;
  pointer-events: none;

  opacity: 0;
}

.calc-popup.active {
  pointer-events: all;

  opacity: 1;
}

.calc-popup__background {
  position: fixed;
  z-index: 1010;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.6);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.calc-popup__container {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: 100vh;
  padding: 100px 15px;
}

.calc-popup__body {
  position: relative;
  z-index: 1020;

  width: 100%;
  max-width: 960px;
  padding: 20px 40px 25px;

  border-radius: 8px;
  background: #fff;
}

.calc-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-right: -20px;
  margin-bottom: 20px;
}

.calc-popup__logo {
  width: 114px;
}

.calc-popup__close {
  width: 28px;
  height: 28px;

  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMjggMjgiIHdpZHRoPSIyOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiNlZjc2MjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ij48cGF0aCBkPSJtMi44Mjg0MyAzIDIyLjE3MTU3IDIyLjE3MTYiLz48cGF0aCBkPSJtMjUgMi44Mjg0My0yMi4xNzE1NyAyMi4xNzE1NyIvPjwvZz48L3N2Zz4=");
}

.calc-popup__title {
  display: block;

  margin-bottom: 6px;

  color: #393939;

  font-size: 28px;
  font-weight: bold;
  line-height: 1.4;
}

.calc-popup__subtitle {
  display: block;

  margin-bottom: 24px;

  color: #0065a8;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

.calc-popup__result-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0;
}

.calc-popup__result-content {
  flex: 1;

  max-width: 400px;
}

.calc-popup__result-circle {
  display: block;

  min-width: 160px;
  height: 160px;
  margin-right: 25px;

  text-align: center;

  color: #fff;
  border-radius: 50%;
  background: #0065a8;

  font-size: 100px;
  font-weight: bold;
  line-height: 160px;
}

.calc-popup__result-content {
  display: flex;
  align-items: center;

  color: #393939;

  font-size: 25px;
  line-height: 1.2;
}

.calc-popup__result-buttons {
  padding-left: 20px;
}

.calc-popup__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 345px;
  height: 80px;
  margin-bottom: 17px;
  padding: 7px 14px;

  transition: 0.2s ease-in-out;
  text-align: center;

  color: #fff;
  border-radius: 100px;
  background: #ef7622;

  font-size: 26px;
  line-height: 1;
}

.calc-popup__button:last-child {
  margin-bottom: 0;
}

.calc-popup__button:hover {
  background: #f2914e;
}

.calc-popup__step {
  display: none;
}

.calc-popup__step.active {
  display: block;
}

.calc-popup__step-label {
  display: block;

  margin: 24px 0;

  color: #ef7622;

  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.calc-popup__step-label.calc-popup__step-label--error {
  color: red;
}

.calc-popup__span {
  display: block;

  margin-bottom: 13px;

  color: #393939;

  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.calc-popup__inputs {
  display: flex;
  justify-content: space-between;

  max-width: 320px;
}

.calc-popup__input {
  flex: 1;

  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-right: 10px;

  text-align: center;

  border: 1px solid #ef7622;
  border-radius: 26px;

  font-size: 16px;
  line-height: 25px;
}

.calc-popup__input:last-child {
  margin-right: 0;
}

.calc-popup__input::placeholder {
  transition: opacity 0.2s ease-in-out;

  color: rgba(57, 57, 57, 0.4);
}

.calc-popup__input:focus::placeholder {
  opacity: 0;
}

.calc-popup__input.calc-popup__input--error {
  border-color: red;
}

.calc-popup__input.calc-popup__input--error::placeholder {
  color: red;
}

.calc-popup__step-footer {
  display: block;

  color: #868686;

  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
}

.calc-popup__nav {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 0;
}

.calc-popup__arrow {
  width: 76px;
  height: 76px;

  transition: background 0.2s ease-in-out;

  border-radius: 50%;
  background-color: #ef7622;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiIHdpZHRoPSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTguNzE2NSA4LjY4MjkxaC0xNC4zMzY1OGw2LjI2MzQ4LTYuNDI3MzljLjUwMDUtLjUxMzY3LjUwMDUtMS4zNTY2MDYgMC0xLjg3MDI3My0uNTAwNi0uNTEzNjY0LTEuMzA5MjEtLjUxMzY2NC0xLjgwOTc3IDBsLTguNDU4MjA4IDguNjc5NjEzYy0uNTAwNTYyLjUxMzY3LS41MDA1NjIgMS4zNDM0NCAwIDEuODU3MTRsOC40NDUzNjggOC42OTI4Yy41MDA1Ni41MTM2IDEuMzA5MjEuNTEzNiAxLjgwOTcxIDAgLjUwMDYtLjUxMzcuNTAwNi0xLjM0MzUgMC0xLjg1NzFsLTYuMjUwNTgtNi40NDA2aDE0LjMzNjU4Yy43MDU5IDAgMS4yODM1LS41OTI3IDEuMjgzNS0xLjMxNzFzLS41Nzc2LTEuMzE3MDktMS4yODM1LTEuMzE3MDl6IiBmaWxsPSIjZmFmYmZjIi8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.calc-popup__arrow.calc-popup__arrow--next {
  transform: rotate(180deg);
}

.calc-popup__arrow:hover {
  background-color: #f2914e;
}

.calc-popup__arrow.disabled {
  pointer-events: none;

  background-color: #d1d1d1;
}

.calc-popup__dots {
  display: flex;

  margin: 0 25px;
}

.calc-popup__dots i {
  display: block;

  width: 17px;
  height: 17px;
  margin: 5px;

  cursor: pointer;

  border-radius: 50%;
  background: #c4c4c4;
}

.calc-popup__dots .active {
  background: #ef7622;
}

.calc-popup__step-value {
  display: flex;
  align-items: center;

  margin-top: 55px;

  color: #393939;

  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.calc-popup__step-value-box {
  display: block;

  box-sizing: border-box;
  width: 60px;
  margin-left: 14px;

  text-align: center;

  border: 1px solid #ef7622;
  border-radius: 100px;

  line-height: 32px;
}

.calc-popup__checkbox-wrap {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 20px;
}

.calc-popup__checkbox-title {
  display: block;

  width: 100%;

  color: #393939;

  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.calc-popup__checkbox-title.calc-popup__checkbox-title--error {
  color: red;
}

.calc-popup__checkbox-descr {
  display: block;

  width: 100%;

  color: rgba(57, 57, 57, 0.4);

  font-size: 16px;
  line-height: 22px;
}

.calc-popup__checkbox {
  display: flex;
  align-items: center;

  margin-top: 10px;
  margin-right: 70px;
}

.calc-popup__checkbox:last-child {
  margin-right: 0;
}

.calc-popup__checkbox input {
  display: none;
}

.calc-popup__checkbox i {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin-right: 14px;

  cursor: pointer;
  transition: border-color 0.2s ease-in-out;

  border: 2px solid #d1d1d1;
  border-radius: 50%;
}

.calc-popup__checkbox i::after {
  position: absolute;
  top: 3px;
  left: 3px;

  display: block;

  width: 12px;
  height: 12px;

  content: "";
  transition: opacity 0.2s ease-in-out;

  opacity: 0;
  border-radius: 50%;
  background: #0065a8;
}

.calc-popup__checkbox input:checked + i {
  border-color: #0065a8;
}

.calc-popup__checkbox input:checked + i::after {
  opacity: 1;
}

.calc-popup__checkbox span {
  flex: 1;

  color: #393939;

  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 992px) {
  .calc-popup__header {
    margin-right: 0;
  }

  .calc-popup__container {
    padding: 40px 15px;
  }

  .calc-popup__body {
    padding: 20px;
  }

  .calc-popup__button {
    width: 220px;
    height: 60px;

    font-size: 16px;
    line-height: 1.2;
  }

  .calc-popup__result-content {
    max-width: 300px;

    font-size: 18px;
  }

  .calc-popup__result-circle {
    min-width: 100px;
    height: 100px;
    margin-right: 15px;

    font-size: 50px;
    line-height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .calc-popup__checkbox {
    margin-right: 30px;
  }

  .calc-popup__step-value {
    margin-top: 35px;

    font-size: 14px;
  }

  .calc-popup__arrow {
    width: 60px;
    height: 60px;
  }

  .calc-popup__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .calc-popup__subtitle {
    font-size: 18px;
    line-height: 1.2;
  }

  .calc-popup__step-label {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 576px) {
  .calc-popup__result-row {
    display: block;

    padding: 20px 0;
  }

  .calc-popup__result-buttons {
    padding-left: 0;
  }

  .calc-popup__result-content {
    margin-bottom: 30px;

    font-size: 16px;
  }

  .calc-popup__checkbox {
    width: 100%;
    margin-right: 0;
  }
}
/* calc-popup - End */

/* select - Start */
.select__wrap {
  position: relative;

  max-width: 500px;
  margin-top: 30px;
}

.select__wrap select {
  display: none;
}

.select {
  position: relative;

  box-sizing: border-box;
  height: 40px;
  padding: 0 32px 0 20px;

  cursor: pointer;

  border: 1px solid #ef7622;
  border-radius: 20px;
}

.select::after {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 20px;

  width: 12px;
  height: 7px;

  content: "";

  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCAxMiA4IiB3aWR0aD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTkuNDYyNSAxLjI5MDA2LTMuODggMy44OC0zLjg4LTMuODhjLS4zOS0uMzkwMDAxLTEuMDItLjM5MDAwMS0xLjQxIDAtLjM5LjM5LS4zOSAxLjAyIDAgMS40MWw0LjU5IDQuNTljLjM5LjM5IDEuMDIuMzkgMS40MSAwbDQuNTktNC41OWMuMzktLjM5LjM5LTEuMDIgMC0xLjQxLS4zOS0uMzgwMDAxLTEuMDMtLjM5MDAwMS0xLjQyIDB6IiBmaWxsPSIjYjQwYjQ3Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.select.active .select__label {
  z-index: 30;

  transform: scale(0.75) translate(2px, -20px);

  color: #ef7622;
}

.select.has-value .select__label {
  transform: scale(0.75) translate(2px, -20px);

  color: #ef7622;
}

.select.select--error {
  border-color: red;
}

.select.select--error .select__label {
  color: red;
}

.select__label {
  position: absolute;
  top: 10px;
  left: 15px;

  padding: 0 5px;

  transition: 0.2s ease-in-out;
  transform-origin: 0% 0%;
  white-space: nowrap;

  color: #a3acb1;
  background: #fff;

  font-size: 16px;
  line-height: 1.2;
}

.select__value {
  position: relative;

  display: block;
  overflow: hidden;

  white-space: nowrap;

  color: #393939;

  font-size: 16px;
  line-height: 38px;
}

.select__list {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;

  padding: 5px 0;

  transition: opacity 0.2s ease-in-out;
  pointer-events: none;

  opacity: 0;
  border: 1px solid #ef7622;
  border-radius: 20px;
  background: #fff;
}

.select__list.active {
  pointer-events: all;

  opacity: 1;
}

.select__item {
  display: block;

  padding: 5px 20px;

  transition: color 0.2s ease-in-out;

  font-size: 16px;
  line-height: 1.2;
}

.select__item:hover {
  color: #ef7622;
}
/* select - End */

/* dropdown - Start */
.dropdown__wrap {
  position: relative;

  width: fit-content;
}

.dropdown__wrap select {
  display: none;
}

.dropdown {
  position: relative;

  min-width: 170px;
  height: 38px;
  padding: 0 49px 0 29px;

  cursor: pointer;

  border-radius: 20px;
  background: var(--second-color);
}

.dropdown::after {
  position: absolute;
  z-index: 10;
  top: 13px;
  right: 13px;

  width: 17px;
  height: 17px;

  content: "";
  transition: transform 0.2s ease-in-out;

  background: url("../assets/icons/arrow-down.svg");
}

.dropdown.active::after {
  transform: rotate(180deg);
}

.dropdown__value {
  position: relative;

  display: block;
  overflow: hidden;

  white-space: nowrap;

  color: #fff;

  font-size: 16px;
  line-height: 36px;
}

.dropdown__list {
  position: absolute;
  z-index: 20;
  top: 100%;
  right: 20px;
  left: 20px;

  padding: 6px 0;

  transition: opacity 0.2s ease-in-out;
  pointer-events: none;

  opacity: 0;
  border-radius: 0px 0px 20px 20px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.dropdown__list.active {
  pointer-events: all;

  opacity: 1;
}

.dropdown__item {
  display: block;

  padding: 6px 20px;

  transition: color 0.2s ease-in-out;

  color: #393939;

  font-size: 14px;
  line-height: 1.35;
}
/* dropdown - End */

/* event-preview - Start */
.event-preview {
  margin-bottom: 120px;
  margin-left: 16px;

  border-radius: 15px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 14px;
}

.event-preview .rating {
  color: #fff;
}

.event-preview .dropdown__wrap {
  margin-right: 18px;

  font-weight: normal;
}

.event-preview p {
  margin-bottom: 6px;
}

.event-preview__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 13px 20px 16px;

  border-radius: 15px 15px 0 0;
  background: var(--main-color);
}

.event-preview__date {
  padding: 0 40px 0 26px;

  color: var(--main-color);
  border-radius: 15px;
  background: #fff;

  font-size: 36px;
  font-weight: 600;
  line-height: 64px;
}

.event-preview__title {
  padding: 10px 20px 15px;

  color: #393939;
  border-bottom: 3px solid #c1c1c1;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.23;
}

.event-preview__body {
  padding: 15px 20px 35px;
}

.event-preview__tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-top: 20px;
}

.event-preview__tags a {
  margin-top: 5px;
  margin-right: 5px;
  padding: 4px 10px;

  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 15px;
  background: #fff;

  font-size: 10px;
  font-weight: 300;
  line-height: 1.4;
}

.event-preview__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px 30px;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.35;
}

.event-preview__footer-col {
  display: flex;
  align-items: center;
}

.event-preview__button {
  width: 150px;
  height: 35px;
  margin-left: 18px;

  transition: background-color 0.3s ease;
  text-align: center;

  color: #fff;
  border-radius: 25px;
  background: var(--main-color);

  font-weight: normal;
  line-height: 35px;
}

.event-preview__button:hover {
  background: var(--second-color);
}

@media (max-width: 1024px) {
  .event-preview {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .event-preview {
    margin: 0 5vw 40px;
  }

  .event-preview__header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .event-preview__date {
    order: -1;

    margin-bottom: 20px;
    padding: 0 20px;

    font-size: 24px;
    line-height: 40px;
  }

  .event-preview__title {
    font-size: 18px;
  }

  .event-preview__footer {
    display: block;
  }

  .event-preview__footer-col:last-child {
    justify-content: flex-end;

    margin-top: 20px;
  }
}
/* event-preview - End */

/* rating - Start */
.rating {
  display: grid;
  align-items: center;

  width: fit-content;

  color: #b9b9b9;

  grid-template-columns: 167px 1fr;
  grid-auto-rows: auto;
  gap: 9px 0;
}

.rating__title {
  width: 100%;

  text-align: center;

  font-size: 12px;
  line-height: 1.33;
}

.rating__stars {
  display: flex;

  padding: 0 3px;

  border-radius: 15px;
  background: #f3f3f3;

  grid-area: auto / 1;
  --default-color: #b9b9b9;
}

.rating__stars a {
  flex: 1;

  height: 30px;

  transition: background-color 0.1s ease-in-out;

  background: var(--default-color);

  -webkit-mask-image: url("../assets/icons/star.svg");
  mask-image: url("../assets/icons/star.svg");
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.rating__stars.rating__stars--has-active a {
  background: var(--second-color);
}

.rating__stars a.active ~ a {
  background: var(--default-color);
}

.rating__stars:hover a {
  background: var(--second-color);
}

.rating__stars:hover a.active ~ a {
  background: var(--second-color);
}

.rating__stars a:hover ~ a {
  background: var(--default-color);
}

.rating__stars:hover a:hover ~ a {
  background: var(--default-color);
}

.rating__value {
  padding-left: 6px;

  font-size: 18px;
}
/* rating - End */

/* news-large-card - Start */
.news-large-card {
  flex-direction: column;
}

.news-large-card .tags {
  margin-bottom: auto;
}

.news-large-card .tag {
  color: #fff;
}

.news-large-card .rating__title {
  text-align: left;
}

.news-large-card time {
  font-size: 12px;
  line-height: 16px;
}

.news-large-card h3 {
  margin: 13px 0;
}

.news-large-card p {
  font-size: 14px;
  line-height: 19px;
}

.news-large-card__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  margin-top: auto;
}
/* news-large-card - End */

/* news-cards - Start */
.news-cards {
  display: flex;
  flex-wrap: wrap;

  margin: -10px 9px 30px;
}

.news-cards time {
  color: #828282;

  font-size: 12px;
  line-height: 16px;
}

.news-cards h3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.25;
}

.news-cards__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% / 3 - 14px);
  margin: 10px 7px;
  padding: 1.2rem 1.3rem 0.9rem;

  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.news-cards__item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 23px 0;
}

@media (max-width: 1024px) {
  .news-cards time {
    margin-bottom: 15px;
  }

  .news-cards__item-row {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .news-cards__item {
    width: calc(100% - 14px);
  }

  .news-cards h3 {
    font-size: 2rem;
  }
}
/* news-cards - End */
