.select__wrap {
  position: relative;

  max-width: 500px;
  margin-top: 30px;
}

.select__wrap select {
  display: none;
}

.select {
  position: relative;

  box-sizing: border-box;
  height: 40px;
  padding: 0 32px 0 20px;

  cursor: pointer;

  border: 1px solid #ef7622;
  border-radius: 20px;
}

.select::after {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 20px;

  width: 12px;
  height: 7px;

  content: "";

  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCAxMiA4IiB3aWR0aD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTkuNDYyNSAxLjI5MDA2LTMuODggMy44OC0zLjg4LTMuODhjLS4zOS0uMzkwMDAxLTEuMDItLjM5MDAwMS0xLjQxIDAtLjM5LjM5LS4zOSAxLjAyIDAgMS40MWw0LjU5IDQuNTljLjM5LjM5IDEuMDIuMzkgMS40MSAwbDQuNTktNC41OWMuMzktLjM5LjM5LTEuMDIgMC0xLjQxLS4zOS0uMzgwMDAxLTEuMDMtLjM5MDAwMS0xLjQyIDB6IiBmaWxsPSIjYjQwYjQ3Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.select.active .select__label {
  z-index: 30;

  transform: scale(0.75) translate(2px, -20px);

  color: #ef7622;
}

.select.has-value .select__label {
  transform: scale(0.75) translate(2px, -20px);

  color: #ef7622;
}

.select.select--error {
  border-color: red;
}

.select.select--error .select__label {
  color: red;
}

.select__label {
  position: absolute;
  top: 10px;
  left: 15px;

  padding: 0 5px;

  transition: 0.2s ease-in-out;
  transform-origin: 0% 0%;
  white-space: nowrap;

  color: #a3acb1;
  background: #fff;

  font-size: 16px;
  line-height: 1.2;
}

.select__value {
  position: relative;

  display: block;
  overflow: hidden;

  white-space: nowrap;

  color: #393939;

  font-size: 16px;
  line-height: 38px;
}

.select__list {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;

  padding: 5px 0;

  transition: opacity 0.2s ease-in-out;
  pointer-events: none;

  opacity: 0;
  border: 1px solid #ef7622;
  border-radius: 20px;
  background: #fff;
}

.select__list.active {
  pointer-events: all;

  opacity: 1;
}

.select__item {
  display: block;

  padding: 5px 20px;

  transition: color 0.2s ease-in-out;

  font-size: 16px;
  line-height: 1.2;
}

.select__item:hover {
  color: #ef7622;
}
